.movie{
  position: relative;
  margin: 0;
  padding: 0;
  width: 360px;
}

.movie__picture{
  margin: 0;
  padding: 0;
  width: 360px;
  height: 201px;
  object-fit: contain;
  object-position: center;
  border-radius: 6px;
}

.movie__caption {
  margin: 0;
  padding: 14px 14px 0 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.movie__description {
  font-weight: 500;
  font-size: 13px;
  line-height: 15.73px;
}

.movie__duration {
  margin: 0;
  padding: 3px 4px;
  text-align: center;
  font-weight: 400;
  font-size: 10px;
  line-height: 9px;
  color: #a0a0a0;
  background-color: #f9f9f9;
  border-radius: 3px;
}

.movie__button {
  position:absolute;
  top: 14px;
  right: 14px;
  background-color: #f9f9f9;
  margin: 0;
  padding: 6px 7px;
  border-radius: 30px;
  z-index: 10;
  text-align: center;
  font-weight: 400;
  font-size: 10px;
  line-height: 9px;
  visibility: hidden;
  border: 0;
  transition: all 0.3s ease-out;
}

.movie:hover > .movie__button {
  visibility: visible;
}

.movie__button:hover {
  opacity: 0.8;
}