.profile {
  margin: 0 auto;
  padding: 0;
  max-width: 410px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile__title {
  margin: 4px 0 123px 0;
  padding: 0;
  text-align: center;
  font-size: 24px;
  line-height: 29.05px;
  font-weight: 500;
}

.profile__form {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 11px;
  line-height: 13.31px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__fieldset {
  margin: 0 0 186px 0;
  padding: 0;
  width: 100%;
  border: 0;
}

.profile__input-label {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 65px;
  font-weight: 500;
  border: 0;
}

.profile__input {
  width: calc(100% - 65px);
  margin: 0;
  padding: 0;
  text-align: right;
  border: 0;
  outline: none;
}

.profile__input:not(:last-of-type),
.profile__input-label:not(:last-of-type) {
  padding: 0 0 16px 0;
  border-bottom: 1px solid #e8e8e8;
}

.profile__input:focus, .profile__input:active {
  border: 0;
  border-bottom: 1px solid #e8e8e8;
}

.profile__input:not([value=""]):invalid {
  color: #ff4062;
}

.profile__input:invalid {
  box-shadow: none;
}

.profile__error {
  width: 100%;
  margin: 6px 0 0 0;
  padding: 0;
  content: '';
  display: block;
  color: #ff4062;
  visibility: hidden;
  text-align: right;
}

.profile__input:not([value=""]):invalid + .profile__error {
  visibility: visible;
}

.profile__button {
  display: block;
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 15.73px;
  background-color: #fff;
  border: 0;
  transition: opacity .3s ease-out;
}

.profile__button_type_edit {
  padding: 0;
  background-color: #fff;
}

.profile__button_type_logout {
  margin-top: 16px;
  color: #ff4062;
}

.profile__button_type_edit:hover,
.profile__button_type_logout:hover {
  opacity: .7;
}

.profile__button_disabled:hover {
  cursor: default;
  opacity: 1;
}

.profile__input:disabled {
  background-color: #fff;
  color: #000;
}

.profile__button_disabled {
  color: #c2c2c2;
}

.profile__error-update {
  visibility: hidden;
  margin: 0 0 20px 0;
  padding: 0;
  text-align: center;
  font-size: 11px;
  line-height: 13.31px;
  color: #ff004c;
}

.profile__error-update_opened {
  visibility: visible;
}

@media screen and (max-width: 968px) {
  .profile__fieldset {
    margin-bottom: 176px;
  }

  .profile__title {
    margin: 0 0 96px 0;
    text-align: center;
  }

  .profile__button {
    font-size: 12px;
    line-height: 14.52px;
  }

  .profile__button_type_logout {
    margin-bottom: 33px;
  }
}

@media screen and (max-width: 456px) {
  .profile {
    margin: 0 30px;
    height: 100%;
    width: unset;
    justify-content: flex-start;
  }

  .profile__title {
    margin: 70px 0 80px 0;
    text-align: center;
  }

  .profile__form {
    justify-content: flex-start;
    height: 100%;
  }

  .profile__fieldset {
    height: 100%;
  }

  .profile__button {
    font-size: 12px;
    line-height: 14.52px;
  }
}