.profile {
  margin: 0 auto;
  padding: 0;
  max-width: 410px;
  width: 100%;
  height: 100%;
}

.profile__title {
  margin: 74px 0;
  padding: 0;
  text-align: center;
  font-size: 24px;
  line-height: 29.05px;
  font-weight: 500;
}

.profile__fieldset {
  margin: 123px 0 196px 0;
  width: 100%;
  font-size: 11px;
  line-height: 13.31px;
}

.profile__input-label {
  display: inline-block;
  margin: 0;
  padding: 5px 0 10px 0;
  width: 65px;
  font-weight: 500;
  border: 0;
  border-bottom: 1px solid #e8e8e8;
}

.profile__input-label:not(:first-child) {
  margin-top: 6px;
}

.profile__input {
  width: calc(100% - 65px);
  margin: 0;
  padding: 5px 0 10px 0;
  text-align: right;
  border: 0;
  border-bottom: 1px solid #e8e8e8;
  outline: none;
}

.profile__input:focus, .profile__input:active {
  border: 0;
  border-bottom: 1px solid #e8e8e8;
}

.profile__input:not([value=""]):invalid {
  color: #ff4062;
}

.profile__input:invalid {
  box-shadow: none;
}

.profile__error {
  width: 100%;
  margin: 6px 0 0 0;
  padding: 0;
  content: '';
  display: block;
  color: #ff4062;
  visibility: hidden;
  text-align: right;
}

.profile__input:not([value=""]):invalid + .profile__error {
  visibility: visible;
}

.profile__button {
  width: 100%;
  text-align: center;
  margin: 69px 0 0 0;
  padding: 13px 0 15px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  color: #fff;
  background-color: #000;
  border-radius: 3px;
  border: 0;
}

.profile__registration {
  width: 100%;
  text-align: center;
  color: #a0a0a0;
}

.profile__registration-link {
  margin: 0 0 0 6px;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #000;
}