.popup {
  position: fixed;
  content: '';
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity .3s ease-out,visibility .3s ease-out;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
}

.popup__container {
  position: relative;
  max-width: 630px;
  width: 100%;
  height: 30%;
  background-color: #fff;
  margin: 0;
  padding: 0 36px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.popup__title {
  margin: auto;
  padding: 0;
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.popup__close-button {
  position: absolute;
  top: -40px;
  right: -40px;
  border: 0;
  width: 40px;
  height: 40px;
  transform: rotate(45deg);
  background-image: url('../../images/plus.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0);
  background-size: contain;
}
  
.popup__close-button:hover {
  opacity: .6;
}

@media screen and (max-width: 750px) {
  .popup__close-button {
    right: 0px;
    width: 26px;
    height: 26px;
  }
}

@media screen and (max-width: 750px) {
  .popup__title {
    font-size: 18px;
    line-height: 22px;
  }
}

@media screen and (max-width: 750px) {
  .popup__container {
    margin: 19px;
    padding: 0 22px;
  }
}
