.main-header {
  margin: 0;
  padding: 110px 0 23px 0;
  border-bottom: 1px solid #000;
  font-size: 22px;
  line-height: 26.63px;
  letter-spacing: -0.04em;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .main-header {
    padding-top: 90px;
  }
}

@media screen and (max-width: 546px) {
  .main-header {
    padding: 70px 0 28px 0;
  }
}