.header {
  width: 100%;
  margin: 0 auto;
  padding: 18px 70px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.header_sign {
  max-width: 396px;
  width: 100%;
  padding: 0;
}

.header__logo {
  margin: 0 44px 0 0;
}

.header__logo-image {
  width: 38px;
  height: 38px;
}

@media screen and (max-width: 768px) {
  .header {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 456px) {
  .header {
    padding-left: 18px;
    padding-right: 18px;
  }
}

@media screen and (max-width: 456px) {
  .header_sign {
    padding-top: 56px;
    justify-content: center;
  }

  .header__logo {
    margin: 0;
  }
}