.burger {
  position: absolute;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, .3);
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s ease-out, visibility .3s ease-out;
}

.burger_opened {
  visibility: visible;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
}

.burger__menu-list {
  width: calc(100% - 248px);
  height: 100%;
  top: 0;
  left: 248px;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 100;
  background-color: #fff;
  /* transition: transform 3.5s ease-out; */
}

@media screen and (max-width:568px) {
  .burger__menu-list {
    width: 320px;
    left: unset;
    right: 0;
  }  
}