@import url('./vendor/normalize.css');
@import url('./vendor/fonts.css');

.root {
  background-color: #fff;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.page {
  min-width: 310px;
  max-width: 1280px;
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  justify-content: center;

  font-family: 'Inter', Arial, sans-serif;

  color: #000;
  background-color: #fff;

  /*сглаживание шрифтов и тд*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%; 
  /*text-rendering: optimizeLegibility; */
} 